<div class="wrapper">
  <div class="row login-container">
    <form class="login-form" ng-submit="vm.login()">
      <div class="text-center">
        <span style="font-size: 8em" class="fa fa-lock color-white" ui-sref="landing"></span>
        <h1 class="p-md" style="color: white">Welcome to Euler tutoring</h1>
      </div>
      <div class="form-group ">
        <div  class="input-group">
          <input placeholder="username" type="text" required name="username" ng-model="vm.username" ng-model-options="{ updateOn: 'blur' } " class="form-control"/>
          <span class="input-group-addon"><span class="fa fa-user"></span>
          </span>
        </div>
      </div>
      <div class="form-group ">
        <div  class="input-group">
            <input placeholder="password" type="password" required name="password" ng-model="vm.password" ng-model-options="{ updateOn: 'blur' } " class="form-control"/>
            <span class="input-group-addon"><span class="fa fa-lock"></span>
            </span>
        </div>
      </div>
      <button class="btn btn-primary m-md btn-rounded" type="submit"> Login </button>
    </form>
  </div>
</div>